version: '3'
services:
  app:
    build:
      context: ./docker
      dockerfile: ./Dockerfile
    env_file:
    - .env
    volumes:
      - ./:/app
    ports:
      - "4200:4200"
      - "9876:9876"
    user: "1000"
    command: ["ng", "serve", "--host=0.0.0.0", "--configuration=dev"]