mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  flex-grow: 1;
}

.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;

  &__text {
    margin-bottom: 1.6rem;
    text-align: center;
    font-size: 1rem;
  }
}