.signup-form {
  padding: var(--default-gap);
  padding-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input-email,
  &__input-password {
    width: 90%;
  }

  &__button {
    padding-top: var(--default-gap);
  }
}