<section>
  <h1>Profile</h1>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="First Name"
        formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Last Name"
        formControlName="lastName">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" *ngIf="!(isLoading | async)"
        [disabled]="!profileForm.valid || !profileForm.dirty">Save</button>
    </div>
  </form>
  <mat-spinner *ngIf="(isLoading | async)" [diameter]="36"></mat-spinner>
</section>
